* {
    font-family: Verdana,Tahoma;
}

html {
    font-size: 12px;
}

body {
    font-size: 1em;
}

.site-layout {
}

img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#listadoPreguntas {
    list-style: none;
    padding: 0;
}

    #listadoPreguntas > li {
        color: #427DA7;
    }

        #listadoPreguntas > li > ul {
            list-style: none;
        }

            #listadoPreguntas > li > ul > li {
                padding: .3em;
                font-size: 1.1em;
                letter-spacing: -.2px;
            }

                #listadoPreguntas > li > ul > li:hover {
                    background: rgb(232, 243, 250);
                }

.site-lateral {
    width: 16.66666667%;
    position: fixed;
    height: 100%;
    background-color: #427DA7;
    top: 0;
    left: 0;
    padding: 1em;
    color: white;
}

.site-main {
    width: 77.7%;
    left: 19.4%;
    position: fixed;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    padding: 1em;
}

label {
    font-weight: normal;
}

    label > input[type=checkbox] {
        margin: 0 1em 0 0;
    }
